

<div class="inputContainer">
    <div class="textContainer">
    <h2>{{ title }}</h2>
    <form method="POST" action="/">
        {{!-- <label name="inputTitle">Enter the type of character you want to find</label> --}}
        <label name="inputTitle">Find more information about Ghibli films. Enter the title:</label>
        <input type="text" name="titleInput"/>
        <button type="submit" value="submitd">Find </button>

    </form>
    </div>

</div>

